#background {
    viewport-fill: #000000;
}

#date {
    text-length: 6;
    x: 50%;
    y: 40;
    text-anchor: middle;
    font-size: 32;
    letter-spacing: 2;
    font-family: Tungsten-Medium;
    fill: #ffffff;
}

#time {
    text-length: 5;
    x: 50%;
    y: 50%+30;
    text-anchor: middle;
    font-size: 100;
    font-family: System-Bold;
    fill: #ffffff;
}

#activity {
    x: 0;
    y: 100%-50;
    width: 100%;
    height: 32;
}

#activityValue {
    x: 50%-40;
    text-anchor: end;
    font-size: 32;
    letter-spacing: 1;
    font-family: Tungsten-Medium;
    fill: #ffffff;
}

#activityIcons {
    x: 50%-20;
    y: 2;
}

#activityIcons image {
    width: 32;
    height: 32;
    opacity: 0.5;
}

#heart {
    x: 0;
    /*fill: #f74172;*/
    fill: fb-magenta;
}

#steps {
    x: 50;
    /*fill: #2cc4e9;*/
    fill: fb-blue;
}

#flame {
    x: 100;
    /*fill: #f99438;*/
    fill: fb-orange;
}


